<div class="container">
  <form
    #todoForm="ngForm"
    (ngSubmit)="todoSubmit(todoForm.value); todoForm.resetForm()"
  >
    <div class="form-group">
      <div class="row">
        <div class="col one">
          <h2>What do I have to do today?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <div class="input-group-prepend">
            <input
              type="text"
              #todo
              class="form-control"
              placeholder="Add Todo"
              name="todo"
              ngModel
            />
          </div>
        </div>

        <div class="col-3">
          <button
            class="button button1"
            type="button"
            id="lit"
            (click)="addTodo(todo.value)"
          >
            Add
          </button>
        </div>
      </div>
    </div>
    <div class="data">
      <div *ngFor="let todo of todoArray">
        <div class="row two">
          <div class="col-6 col-sm-8 col-lg-10">
            {{ todo }}
          </div>
          <div class="col-6 col-sm-4 col-lg-2">
            <label class="container1">
              <input
                type="checkbox"
                [(ngModel)]="theCheckbox"
                data-md-icheck
                (change)="toggleVisibility($event)"
              />
              <span *ngIf="marked"></span><span *ngIf="!marked"></span>
              <span class="checkmark"></span>
            </label>
            <button
              class="buttonz button2 float-right"
              type="button"
              (click)="deleteItem(todo)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col one">
        <h4 class="float-right">Sarmiran Maheswaran</h4>
      </div>
    </div>
  </form>
</div>
